/* Parent Level and Header */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header, main {
    margin: 0 75px;
}
header, #missions, .section-flex-container, #div-flex {
    padding: 0 75px;
}
header, #missions > div, .section-flex-container, #div-flex {
    display: flex;
}
header > *, #div-flex > * {
    width: 50%;
}
header > div:first-child {
    padding: 120px 50px 50px 0;
}
header > div:last-child {
    padding: 0 50px 50px;
}
header p:last-child {
    color: #505050;
}

/* Common Properties */

h1 {
    border-left: 3px solid;
    border-color: #9ACD32;
    font: 40px 'Yeseva One', cursive;
    padding-left: 10px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 27px;
}
h4 {
    font-size: 20px;
}
span {
    color: #FA8072;
}
img {
    display: block;
    width: 100%;
}
a {
    background-image: linear-gradient(90deg, #7B68EE, #6495ED);
    border-radius: 5px;
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
}

/* 3-box Mission Section */

#missions {
    text-align: center;
}
#missions > div {
    text-align: left;
}
#missions img {
    width: 45%;
}
#mission, #vision, #goal {
    border-radius: 10px;
    font-size: 14px;
    padding: 20px;
    width: 30%;
}
#mission {
    background-color: #FFE4E1;
}
#vision {
    background-color: #FFDEAD;
    margin: 0 5%;
}
#goal {
    background-color: #AFEEEE;
}

/* Middle Sections */

.section-flex-container {
    background-repeat: no-repeat;
    background-size: 15%;
    padding: 75px;
}
#section-develop {
    background-image: url(images/shapes/shape-1.png);
    background-position: left center;
}
#section-build {
    background-image: url(images/shapes/shape-2.png);
    background-position: right top;
}
.section-image {
    width: 35%;
}
#div-develop, #div-build {
    width: 65%;
}
#div-develop {
    margin-left: 75px;
}
#div-build {
    margin-right: 75px;
}

/* Platform Section */

#section-platform {
    margin-bottom: 125px;
    text-align: center;
}
#div-flex {
    text-align: left;
}
#div-flex > div:first-child {
    padding: 0 50px;
}
#div-flex > div:last-child {
    padding-left: 50px;
}

/* Footer */

footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}
footer h3 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
}
footer span {
    color: #6A5ACD;
}
footer p {
    color: #B0C4DE;
}