body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header, main {
    margin: 0 75px;
}
header, .section-flex-container {
    display: flex;
    padding: 0 75px;
}
header > * {
    width: 50%;
}
header > div:first-child {
    padding: 120px 50px 50px 0;
}
header > div:last-child {
    padding: 0 50px 50px;
}
h1 {
    border-left: 3px solid;
    border-color: #9ACD32;
    font: 40px 'Yeseva One', cursive;
    padding-left: 10px;
}
h1 span {
    color: #FA8072;
}
header p:last-child {
    color: #505050;
}
img {
    width: 100%;
}
a {
    background-image: linear-gradient(90deg, #7B68EE, #6495ED);
    border-radius: 5px;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
}
.section-flex-container {
    background-repeat: no-repeat;
    background-size: 15%;
    padding: 75px;
}
#section-develop {
    background-image: url(images/shapes/shape-6.png);
    background-position: left center;
}
#section-build {
    background-image: url(images/shapes/shape-7.png);
    background-position: right top;
}
.section-image {
    width: 35%;
}
#div-develop, #div-build {
    width: 65%;
}
#div-develop {
    margin-left: 75px;
}
#div-build {
    margin-right: 75px;
}
h3 {
    font-size: 25px;
}
footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
}
footer h3 {
    color: #ffffff;
    font-family: 'Lobster', cursive;
}
footer span {
    color: #6A5ACD;
}
footer p {
    color: #B0C4DE;
}